*{
    /* margin: 0;
    padding: 0; */    
    box-sizing: border-box;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    text-decoration: none;
    list-style: none;
   }
   
   .root{
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    background:linear-gradient(to right, #4286f4, #373B44);    
    min-height: 100vh;
    
    align-items: center;
   }
   ul {
       margin-left: -50px;
   }
   .pricing-table{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: min(1600px, 100%);
    margin: auto;
    
   }
   
   .pricing-card{
    flex: 1;
    max-width: 360px;
    background-color: #fff;
    margin: 20px 10px;
    text-align: center;
    cursor: normal;
    user-select:none;
    overflow: hidden;
    color: #2d2d2d;
    transition: .3s linear;
   }
   
   .pricing-card-header{
    background-color: #0fbcf9;
    display: inline-block;
    color: #fff;
    padding: 12px 30px;
    border-radius: 0 0 20px 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .4s linear;
   }
   
   .pricing-card:hover .pricing-card-header{
    box-shadow: 0 0 0 18em #0fbcf9;
   }
   
   .price{
    font-size: 70px;
    color: #0fbcf9;
    margin: 40px 0;
    transition: .2s linear;
   }
   
   .price sup, .price span{
    font-size: 22px;
    font-weight: 700;
   }
   
   .pricing-card:hover ,.pricing-card:hover .price{
    color: #fff;
   }
   
   .pricing-card li{
    font-size: 16px;
    padding: 10px 0;
    text-transform: uppercase;
   }
   
   .order-btn{
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 80px;
    border: 2px solid #0fbcf9;
    color: #0fbcf9;
    padding: 18px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 500;
    transition: .3s linear;
   }
   
   .order-btn:hover{
    background-color: #0fbcf9;
    color: #fff;
   }
   
   @media screen and (max-width:1100px){
    .pricing-card{
      flex: 50%;
    }
   }
   .backbutton {
      position:relative;
      border:none;
      padding:2%;
      outline:none;
      width: 80px;
      height:20px;
      margin:5px;
      border-radius:1px;
      cursor:pointer;
      background-color:#fff;
      color:#0fbcf9;
      
   }
.headerstyle{
    position:absolute;top:0;color:white;
}
   